# <center> üêº [–í–≤–µ–¥–µ–Ω–∏–µ –≤ Pandas](https://stepik.org/lesson/681964/)</center>

–≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ –ø–æ–º–æ–∂–µ—Ç —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤–∞–º –≤ –æ—Å–Ω–æ–≤–Ω—ã—Ö –º–æ–º–µ–Ω—Ç–∞—Ö –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö –≤ Pandas, –ø–æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å –ø–æ–ª–µ–∑–Ω—ã–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏ –∏ —Ç—Ä—é–∫–∞–º–∏. 

### –û–≥–ª–∞–≤–ª–µ–Ω–∏–µ –Ω–æ—É—Ç–±—É–∫–∞
<img src="../images/pandas.jpg" align="right" width="528" height="528" />
<br>

<p><font size="3" face="Arial" font-size="large">
<ul type="square"><li><a href="#1">üìë –°—Ç—Ä—É–∫—Ç—É—Ä—ã –¥–∞–Ω–Ω—ã—Ö –≤ Pandas</a></li><li><a href="#2">üîç –†–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö</a><ul><li><a href="#3">–ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø–µ—Ä–≤–∏—á–Ω–æ–µ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ</a></li><li><a href="#4">–ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –æ—Å–º–æ—Ç—Ä</a></li><li><a href="#5">–†–∞–±–æ—Ç–∞ —Å —á–∏—Å–ª–æ–≤—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏</a></li></ul></li><li><a href="#6">üì§ –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏</a><ul><li><a href="#7">–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞</a></li><li><a href="#8">–ú–µ—Ç–æ–¥—ã —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏</a></li><li><a href="#9">–†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏</a></li><li><a href="#10">–ò–Ω–¥–µ–∫—Å–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö</a></li><li><a href="#11">–§—É–Ω–∫—Ü–∏–∏</a></li></ul></li>
</ul></font></p>

# <center>üìë C—Ç—Ä—É–∫—Ç—É—Ä—ã –¥–∞–Ω–Ω—ã—Ö –≤ Pandas. </center>

<p id="1"></p>

`Series` ‚Äî —ç—Ç–æ —Å—Ç—Ä—É–∫—Ç—É—Ä–∞, –∏—Å–ø–æ–ª—å–∑—É–µ–º–∞—è –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å—é –æ–¥–Ω–æ–º–µ—Ä–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö, –∞ `DataFrame` ‚Äî –±–æ–ª–µ–µ —Å–ª–æ–∂–Ω–∞—è –∏ –ø–æ–¥—Ö–æ–¥–∏—Ç –¥–ª—è –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∏–∑–º–µ—Ä–µ–Ω–∏–π. `Series` ‚Äì –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤ —Å –º–µ—Ç–∫–∞–º–∏, —Å–ø–æ—Å–æ–±–Ω—ã–π —Ö—Ä–∞–Ω–∏—Ç—å –ª—é–±–æ–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö.

<img src="https://sun9-43.userapi.com/impg/0k7fzcgju-6hY10XmQoaJkfxOxr0-SvgA3NHQg/N0Hb-T_fXio.jpg?size=1280x720&quality=96&sign=6ac22e0ff168023b0dff780c1bfa5e36&type=album"></img>

In [1]:
import pandas as pd # pandas –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏
import numpy as np  # numpy –¥–ª—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π

### –°–æ–∑–¥–∞—Ç—å`Series`  –º–æ–∂–Ω–æ —Ç–∞–∫:

`s = pd.Series(data, index=index, name='something')`

–ú–µ—Ç–∫–∏ –∏–º–µ–Ω—É—é—Ç—Å—è `index`, –¥–∞–Ω–Ω—ã–µ `data` –º–æ–≥—É—Ç –±—ã—Ç—å –ª—é–±—ã–º–∏, `name` —è–≤–ª—è–µ—Ç—Å—è –∏–º–µ–Ω–µ–º `Series`.

In [2]:
data = ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog']
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
s = pd.Series(data, index=labels, name='animals')
s

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animals, dtype: object

### –°–æ–∑–¥–∞—Ç—å `DataFrame` –ø—Ä–æ—â–µ –∏–∑ —Å–ª–æ–≤–∞—Ä—è, –∞ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç—Ä–æ–∫ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–ø–∏—Å–æ–∫

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
         'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
         'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### –ê —Ç–µ–ø–µ—Ä—å —Å–¥–µ–ª–∞–µ–º –æ—Ç–∫—Ä—ã—Ç–∏–µ! –°—Ç–æ–ª–±—Ü—ã –≤ `DataFrame` —è–≤–ª—è—é—Ç—Å—è `Series`!

In [4]:
s = df.age
s

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

–û–±—Ä–∞—â–µ–Ω–∏–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É `s[0]`

In [5]:
s[0]

2.5

–≠–ª–µ–º–µ–Ω—Ç—ã –ø–æ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–º –∏–Ω–¥–µ–∫—Å–∞–º `s[[4, 3, 1]]`

In [6]:
s[[4, 3, 1]]

e    5.0
d    NaN
b    3.0
Name: age, dtype: float64

–°—Ä–µ–∑—ã `s[:3]`

In [7]:
s[:3]

a    2.5
b    3.0
c    0.5
Name: age, dtype: float64

–ò–¥–µ–æ–ª–æ–≥–∏—è —Å–ª–æ–≤–∞—Ä—è –ø—Ä–∏ –æ–±—Ä–∞—â–µ–Ω–∏–∏ –∫ —ç–ª–µ–º–µ–Ω—Ç–∞–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [8]:
s['a']

2.5

In [9]:
'e' in s

True

In [10]:
't' in s

False

__–ê—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –∫ `Series`__

In [11]:
s + s

a     5.0
b     6.0
c     1.0
d     NaN
e    10.0
f     4.0
g     9.0
h     NaN
i    14.0
j     6.0
Name: age, dtype: float64

__–õ–æ–≥–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ –∫ `Series`.__ –ù–∞–ø—Ä–∏–º–µ—Ä, –≤—ã–±—Ä–∞—Ç—å –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è, –±–æ–ª—å—à–µ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ

In [12]:
s[s > 3]

e    5.0
g    4.5
i    7.0
Name: age, dtype: float64

–§—É–Ω–∫—Ü–∏–∏ –∏–∑ –º–æ–¥—É–ª—è `numpy` –ø—Ä–∏–º–µ–Ω—è—é—Ç—Å—è –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω–æ. –ù–∞–ø—Ä–∏–º–µ—Ä, —ç–∫—Å–ø–æ–Ω–µ–Ω—Ç–∞ `np.exp(s)`

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –º–æ–∂–Ω–æ —É–∑–Ω–∞—Ç—å —Ç–∞–∫ `len(s)`

##   –†–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü. –°–æ–∑–¥–∞–Ω–∏–µ –∏ —É–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤.

<div class="alert alert-info">

–ö —Å—Ç–æ–ª–±—Ü–∞–º `DataFrame` –ø—Ä–∏–º–µ–Ω–∏–º—ã –ª—é–±—ã–µ –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏. –ù–∞–¥–æ —Ç–æ–ª—å–∫o –ø–æ–Ω–∏–º–∞—Ç—å, –∫–∞–∫ —Ä–∞–±–æ—Ç–∞–µ—Ç –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è.

–¢–∞–∫, –º—ã –º–æ–∂–µ–º –ø—Ä–∏—Å–≤–æ–∏—Ç—å –≤—Å–µ–º—É —Å—Ç–æ–ª–±—Ü—É `'visits'` –∑–Ω–∞—á–µ–Ω–∏–µ 3 –∏ –æ–Ω–æ –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø–æ—è–≤–∏—Ç—Å—è –≤ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ:

In [13]:
df['visits'] = 3
df

  animal  age  visits priority
a    cat  2.5       3      yes
b    cat  3.0       3      yes
c  snake  0.5       3       no
d    dog  NaN       3      yes
e    dog  5.0       3       no
f    cat  2.0       3       no
g  snake  4.5       3       no
h    cat  NaN       3      yes
i    dog  7.0       3       no
j    dog  3.0       3       no

–ù–∞–¥–æ —É–≤–µ–ª–∏—á–∏—Ç—å –≤–æ–∑—Ä–∞—Å—Ç –Ω–∞ –≥–æ–¥?  –ü—Ä–æ—Å—Ç–æ —É–≤–µ–ª–∏—á–∏–≤–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü `'age'` –Ω–∞ –µ–¥–∏–Ω–∏—Ü—É. –î–∞–∂–µ –Ω–µ –≤–µ—Ä–∏—Ç—Å—è, —á—Ç–æ –≤—Å–µ —Ç–∞–∫ –ø—Ä–æ—Å—Ç–æ!

In [14]:
df.age = df.age + 1
df

  animal  age  visits priority
a    cat  3.5       3      yes
b    cat  4.0       3      yes
c  snake  1.5       3       no
d    dog  NaN       3      yes
e    dog  6.0       3       no
f    cat  3.0       3       no
g  snake  5.5       3       no
h    cat  NaN       3      yes
i    dog  8.0       3       no
j    dog  4.0       3       no

–ú–æ–∂–µ–º –¥–∞–∂–µ —Å–æ–∑–¥–∞—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∏—Å–ø–æ–ª—å–∑—É—è –¥—Ä—É–≥–∏–µ —Å—Ç–æ–ª–±—Ü—ã `'age'` –∏ `'visits'`. –ö–∞–∑–∞–ª–æ—Å—å –±—ã, –≤—Å–µ–≥–æ –æ–¥–Ω–∞ —Å—Ç—Ä–æ—á–∫–∞, –Ω–æ –ø—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è –¥–ª—è –≤—Å–µ–≥–æ —Å—Ç–æ–ª–±—Ü–∞! –í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è —ç—Ç–æ —Å–µ–∫—Ä–µ—Ç–Ω–∞—è –º–∞–≥–∏—è `pandas` =)

–ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ, –º–æ–∂–Ω–æ  –≤—ã—á–µ—Å—Ç—å, —É–º–Ω–æ–∂–∏—Ç—å, —Ä–∞–∑–¥–µ–ª–∏—Ç—å –∏ —Å–ª–æ–∂–∏—Ç—å –¥–≤–∞ —á–∏—Å–ª–µ–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞ –¥—Ä—É–≥ —Å –¥—Ä—É–≥–æ–º.

In [15]:
df['age_visits_sum'] = df.age + df.visits
df

  animal  age  visits priority  age_visits_sum
a    cat  3.5       3      yes             6.5
b    cat  4.0       3      yes             7.0
c  snake  1.5       3       no             4.5
d    dog  NaN       3      yes             NaN
e    dog  6.0       3       no             9.0
f    cat  3.0       3       no             6.0
g  snake  5.5       3       no             8.5
h    cat  NaN       3      yes             NaN
i    dog  8.0       3       no            11.0
j    dog  4.0       3       no             7.0

<div class="alert alert-info">
    
<b>–í–∞–∂–Ω–æ–µ –∑–∞–º–µ—á–∞–Ω–∏–µ:</b>
–ü—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–∏ —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è –ø–∏—Å–∞—Ç—å –µ—ë –Ω–∞–∑–≤–∞–Ω–∏–µ –±–µ–∑ –ø—Ä–æ–±–µ–ª–æ–≤ (—Ö–æ—Ç—è —Å –Ω–∏–º–∏ —Ç–æ–∂–µ –º–æ–∂–Ω–æ) - –∫–∞–∫ –≤ –ø—Ä–∏–º–µ—Ä–µ –≤—ã—à–µ: `age_visits_sum`.
–¢–æ–≥–¥–∞ –º–æ–∂–Ω–æ –±—É–¥–µ—Ç –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ –Ω–µ–π –Ω–µ —Ç–æ–ª—å–∫–æ –∫–∞–∫ –∫–ª—é—á—É —Å–ª–æ–≤–∞—Ä—è, –Ω–æ –∏ –∫–∞–∫ –∫ –ø–∞—Ä–∞–º–µ—Ç—Ä—É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É.<br>
**`df.age_visits_sum`**

In [16]:
# –ù–∞–ø—Ä–∏–º–µ—Ä
df.age_visits_sum.value_counts()

age_visits_sum
7.0     2
6.5     1
4.5     1
9.0     1
6.0     1
8.5     1
11.0    1
Name: count, dtype: int64

–¢–∞–∫–∂–µ –º–æ–∂–µ–º –∏ —É–¥–∞–ª–∏—Ç—å —Å—Ç–æ–ª–±–µ—Ü, –Ω–µ –∑–∞–±—ã–≤–∞–µ–º –ø—Ä–æ `inplace=True`.

In [17]:
df.drop('age_visits_sum', axis=1, inplace=True)
df

  animal  age  visits priority
a    cat  3.5       3      yes
b    cat  4.0       3      yes
c  snake  1.5       3       no
d    dog  NaN       3      yes
e    dog  6.0       3       no
f    cat  3.0       3       no
g  snake  5.5       3       no
h    cat  NaN       3      yes
i    dog  8.0       3       no
j    dog  4.0       3       no

<div class="alert alert-info">
<b>–ü–æ–ª–µ–∑–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è</b>


- __–£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–ª–∏ —Å—Ç—Ä–æ–∫__ `df.drop(name, axis=0, inplace=True)`  - –¢—É—Ç `name` —ç—Ç–æ –∏–Ω–¥–µ–∫—Å —Å—Ç—Ä–æ–∫–∏ –∏–ª–∏ –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏. –ü–∞—Ä–∞–º–µ—Ç—Ä `axis=0` –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ —É–¥–∞–ª—è–µ—Ç—Å—è —Å—Ç—Ä–æ–∫–∞, –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ (—Å—Ç–æ–ª–±—Ü–æ–≤) –Ω—É–∂–Ω–æ –ø–∏—Å–∞—Ç—å –≤–º–µ—Å—Ç–æ –∏–Ω–¥–µ–∫—Å–∞ –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫ —Å–ø–∏—Å–∫–æ–º –∏ —Å—Ç–∞–≤–∏—Ç—å `axis=1`.

    
- __–£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —Å—Ç—Ä–æ–∫__ `df.drop_duplicates()` –∏ –Ω–µ –∑–∞–±—ã–≤–∞–µ–º –ø—Ä–æ –ø–∞—Ä–∞–º–µ—Ç—Ä `inplace=True`. –ï—Å–ª–∏ –Ω–∞–¥–æ —É–¥–∞–ª–∏—Ç—å –¥—É–±–ª–∏ –ø–æ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–º—É —Å—Ç–æ–ª–±—Ü—É, —Ç–æ –ø–µ—Ä–µ–¥–∞–µ–º –≤ –ø–∞—Ä–∞–º–µ—Ç—Ä `subset` –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–ª–∏ —Å–ø–∏—Å–æ–∫ –Ω–∞–∑–≤–∞–Ω–∏–π.

    
    
- __–í—Å—Ç–∞–≤–∫–∞ –≤ –∑–∞–¥–∞–Ω–Ω–æ–µ –º–µ—Å—Ç–æ —Å—Ç–æ–ª–±—Ü–∞__ `df.insert(loc, column, value)`.  –¢—É—Ç `loc` (–∫—É–¥–∞), `column` (–Ω–∞–∑–≤–∞–Ω–∏–µ), `value` (—á—Ç–æ –≤—Å—Ç–∞–≤–ª—è–º). –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é —Å—Ç–æ–ª–±—Ü—ã –≤—Å—Ç–∞–≤–ª—è—é—Ç—Å—è –≤ –∫–æ–Ω–µ—Ü.

    
    
- __–ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü__ –º–æ–∂–Ω–æ —Ç–∞–∫ `df.rename(columns = {'old_name':'new_name'}, inplace=True)`</div>

# <center> üîç –†–∞–∑–≤–µ–¥–æ—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö (EDA) </center>

<p id="2"></p>

–í —ç—Ç–æ–π —á–∞—Å—Ç–∏ –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –ø–æ–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å –∑–∞–≥—Ä—É–∑–∫–æ–π –¥–∞–Ω–Ω—ã—Ö, –ø–µ—Ä–≤–∏—á–Ω—ã–º –æ—Å–º–æ—Ç—Ä–æ–º –∏ –∞–Ω–∞–ª–∏–∑–æ–º.

 <img src="https://sun9-46.userapi.com/impg/4yA0_8N5ksJzftOvHsi_niXDlu4Ocy-HyjVj0w/YBBKjZhZsjc.jpg?size=1600x666&quality=96&sign=a6b10953218cb38c8e3042879b20935b&type=album"></img>

## –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –ø–µ—Ä–≤–∏—á–Ω–æ–µ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–æ

<p id="3"></p>
<div class="alert alert-info">

**[pd.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)** - c—á–∏—Ç—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –≤ `DataFrame` –∏–∑ —Ñ–∞–π–ª–∞ `csv` (—Ñ–∞–π–ª —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—è–º–∏). –£ –º–µ—Ç–æ–¥–∞ –æ—á–µ–Ω—å –º–Ω–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ —Å –∫–æ—Ç–æ—Ä—ã–º–∏ –Ω—É–∂–Ω–æ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ.

In [18]:
path = '../data/demo_rides_info.csv'
rides_info = pd.read_csv(path)
rides_info.head(10)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126
5,G12536963g,B61056692H,f1p,2020-02-26,5.73,49,681,36,65.000000,1,1.633555e+03,0,5.566720,0.000
6,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.029522,0,1.854434e+03,0,-21.874094,-19.996
7,Z21861082q,U-8316679F,s1l,2020-02-22,2.88,23,685,53,58.000000,0,1.290301e+03,0,1.181858,-0.799
8,w32247420J,I-2277714Y,t1N,2020-02-08,0.10,168,8397,66,116.000000,2,5.049357e+03,0,-7.047228,16.841
9,i78201044i,T-1003767L,c1L,2020-01-02,0.00,72,930,75,146.456097,1,1.627029e+03,0,2.987268,0.000

<div class="alert alert-info"><b>–ü–æ–ª–µ–∑–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è</b>

- –ï—Å–ª–∏ –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ —Ñ–∞–π–ª–∞ –≤—ã –≤–∏–¥–∏—Ç–µ —Å—Ç–æ–ª—Ü—ã —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º —Ç–∏–ø–∞ `Unnamed: 0` , —Ç–æ —ç—Ç–æ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–Ω—ã–π –∏–Ω–¥–µ–∫—Å –ø—Ä–∏ –∑–∞–ø–∏—Å–∏ —Ñ–∞–π–ª–∞. –ú–æ–∂–Ω–æ –∑–∞–≥—Ä—É–∑–∏—Ç—å –∏–Ω–¥–µ–∫—Å—ã –∏–∑ —ç—Ç–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞, –Ω–µ —Å–æ–∑–¥–∞–≤–∞—è –∏—Ö –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é —Å –Ω—É–ª—è, —Å –ø–æ–º–æ—â—å—é –ø–∞—Ä–∞–º–µ—Ç—Ä–∞  `index_col=0`, —É–∫–∞–∑–∞–≤ –Ω–æ–º–µ—Ä —Å—Ç–æ–ª–±—Ü–∞ –∫–æ—Ç–æ—Ä—ã–π –Ω—É–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è –∏–Ω–¥–µ–∫—Å–æ–≤. 


- –ü–æ–ª–µ–∑–Ω—ã–µ –º–µ—Ç–æ–¥—ã –≤—ã–≤–æ–¥–∞ —Å—Ç—Ä–æ–∫: `df.head(n)` / `df.sample(n)` / `df.tail(n)` - –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –ø–µ—Ä–≤—ã–µ, —Å–ª—É—á–∞–π–Ω—ã–µ –∏–ª–∏ –ø–æ—Å–ª–µ–¥–Ω–∏–µ `n` —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. –°—Ç—Ä—É–∫—Ç—É—Ä–∞ `DataFrame` –ê —á—Ç–æ —ç—Ç–æ? `DataFrame` ‚Äì —ç—Ç–æ –¥–≤—É–º–µ—Ä–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤.

    
- –ü–æ–¥—Å—á–µ—Ç —á–∏—Å–ª–∞ –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ –∫–∞–∂–¥–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è:  `df.value_counts()` - —Ñ—É–Ω–∫—Ü–∏—è –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ —á–∏—Å–ª–∞ –∏—Ö –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ –≤ –≤–∏–¥–µ `Series` . –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω –ø–æ —É–±—ã–≤–∞–Ω–∏—é –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ `(ascending=False)`. –ú–æ–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫—É —á–µ—Ä–µ–∑ `ascending=True`. –¢–∞–∫–∂–µ —á–∏—Å–ª–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã –º–æ–∂–Ω–æ —Ä–∞–∑–±–∏–≤–∞—Ç—å –Ω–∞ –±–∏–Ω—ã —á–µ—Ä–µ–∑ –ø–∞—Ä–∞–º–µ—Ç—Ä `bins`.  

</div>

## –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –æ—Å–º–æ—Ç—Ä –¥–∞–Ω–Ω—ã—Ö

<p id="4"></p>

**[df.sample()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html)** - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª—É—á–∞–π–Ω—É—é –≤—ã–±–æ—Ä–∫—É —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. –ü–∞—Ä–∞–º–µ—Ç—Ä `n` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—ã–≤–æ–¥–∏–º—ã—Ö —Å—Ç—Ä–æ–∫.

In [19]:
rides_info.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
28838,R15052655H,v19902021b,D1P,2020-03-26,5.95,31,429,39,52.000000,0,1163.491517,0,-20.587437,9.63
4631,o27779528m,z66753488b,R1f,2020-03-15,0.16,44,390,43,113.858009,0,1217.705293,0,16.092770,-7.14
27715,S14549477S,B17481721b,v1C,2020-01-13,10.00,12,103,70,141.098430,1,418.828329,0,-2.502619,-0.00
27428,I16296910x,w21596750f,U1r,2020-01-16,5.23,30,355,43,69.000000,2,472.587676,0,-5.645688,-3.20
13903,u78765599H,D13047328g,x1x,2020-03-16,6.37,32,505,33,68.000000,1,786.260582,0,-10.370201,-10.20

**[df.head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)** - –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –≤—ã–≤–æ–¥–∏—Ç 5 —Å—Ç—Ä–æ–∫, –Ω–æ –º–æ–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä `n` –∏ –≤—ã–≤–µ—Å—Ç–∏ –±–æ–ª—å—à–µ –∏–ª–∏ –º–µ–Ω—å—à–µ.

–ß–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É—é—Ç –º–µ—Ç–æ–¥ `head()`, –Ω–æ –ª—É—á—à–µ –ø–µ—Ä–≤—ã–π —Ä–∞–∑ —Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —á–µ—Ä–µ–∑ `sample()`.
–¢–∞–∫ –≤—ã –∏–º–µ–µ—Ç–µ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å —Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ —Ä–∞–∑–Ω—ã–µ –≤—ã–±–æ—Ä–∫–∏ –∏ —ç—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ, —á—Ç–æ–±—ã —É–≤–∏–¥–µ—Ç—å –∫–∞–∫–∏–µ-–Ω–∏–±—É–¥—å –±–∞–≥–∏.

In [20]:
rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126

<div class="alert alert-info">
    <b>–í—ã–≤–æ–¥—ã</b>
    <ul>
    <li>–≤ —Ü–µ–ª–æ–º –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∑–∏–ª–∏—Å—å</li>
    <li>–Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–∑ –ø–µ—Ä–≤–æ–π —Å—Ç—Ä–æ–∫–∏ –∑–∞–≥—Ä—É–∂–µ–Ω—ã</li>
    <li>–∏–Ω–¥–µ–∫—Å—ã –ø–µ—Ä–≤–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –≤—ã–≥–ª—è–¥—è—Ç –∞–¥–µ–∫–≤–∞—Ç–Ω–æ</li>
    <li>–Ω–∞–ª–∏—á–∏–µ –∏–Ω–¥–µ–∫—Å–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å, –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–æ</li>
    <li>–ø–æ —Å–ª—É—á–∞–π–Ω—ã–º –ø—è—Ç–∏ —Å—Ç—Ä–æ–∫–∞–º –Ω–∞–ª–∏—á–∏–µ –∫–∞–∫–∏—Ö-–ª–∏–±–æ –æ—à–∏–±–æ–∫ –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–æ</li></ul>
</div>

<div class="alert alert-info">

**[df.info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)*** - –í—ã–≤–æ–¥–∏—Ç –∫—Ä–∞—Ç–∫—É—é —Å–≤–æ–¥–∫—É-–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É.

–í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –Ω–µ–±–æ–ª—å—à–æ–π, –Ω–æ –æ–Ω –º–æ–∂–µ—Ç –±—ã—Ç—å –±–æ–ª—å—à–∏–º. –ú—ã —Ä–∞–∑–±–µ—Ä–µ–º –º–µ—Ç–æ–¥—ã –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `Pandas` –Ω–∞ —ç—Ç–æ–º –Ω–µ–±–æ–ª—å—à–æ–º –ø—Ä–∏–º–µ—Ä–µ, –∫–æ—Ç–æ—Ä—ã–µ –≤—ã –ø–æ –∞–Ω–∞–ª–æ–≥–∏–∏ —Å–º–æ–∂–µ—Ç–µ —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ –ø—Ä–∏–º–µ–Ω–∏—Ç—å –∫ –¥—Ä—É–≥–∏–º –¥–∞—Ç–∞—Å–µ—Ç–∞–º.

In [21]:
rides_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            50000 non-null  object
 1   car_id             50000 non-null  object
 2   ride_id            50000 non-null  object
 3   ride_date          50000 non-null  object
 4   rating             50000 non-null  float64
 5   ride_duration      50000 non-null  int64
 6   ride_cost          50000 non-null  int64
 7   speed_avg          50000 non-null  int64
 8   speed_max          49747 non-null  float64
 9   stop_times         50000 non-null  int64
 10  distance           50000 non-null  float64
 11  refueling          50000 non-null  int64
 12  user_ride_quality  49841 non-null  float64
 13  deviation_normal   50000 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 5.3+ MB

<div class="alert alert-info"><b>–í—ã–≤–æ–¥—ã</b>

* –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –≤—Å–µ–≥–æ 14 —Å—Ç–æ–ª–±—Ü–æ–≤
* —á–µ—Ç—ã—Ä–µ —Å—Ç–æ–ª–±—Ü–∞ –∏–º–µ—é—Ç —Ç–∏–ø `object`
* –ø—è—Ç—å —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–º–µ—é—Ç —Ç–∏–ø `float64`
* –ø—è—Ç—å —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–º–µ—é—Ç —Ç–∏–ø `int64`
* –≤—Å–µ–≥–æ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ 50000 —Å—Ç—Ä–æ–∫
* –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö `speed_max` –∏ `user_ride_quality` –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ (nan)
* –æ–±—ä–µ–º –∑–∞–Ω–∏–º–∞–µ–º—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º `5.3+ MB` (—ç—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–∞, —á—Ç–æ–±—ã –∑–∞—Ä–∞–Ω–µ–µ –ø—Ä–µ–¥—Å—Ç–∞–≤–∏—Ç—å –∫–∞–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–º –≤—ã —Å–º–æ–∂–µ—Ç–µ –≤—ã–ø–æ–ª–Ω—è—Ç—å —Å —É—á–µ—Ç–æ–º –¥–æ—Å—Ç—É–ø–Ω–æ–π –≤–∞–º –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ–π –ø–∞–º—è—Ç–∏)

<div class="alert alert-info"><b>–í—ã–≤–æ–¥—ã</b>

**[df.columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html)*** - –í—ã–≤–æ–¥–∏—Ç –º–µ—Ç–∫–∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

<div class="alert alert-info"><b>–í—ã–≤–æ–¥—ã:</b>
    
–ò–Ω–æ–≥–¥–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤ –æ—á–µ–Ω—å –±–æ–ª—å—à–æ–µ, —Ç–∞–∫ —á—Ç–æ –ø—Ä–∏ –≤—ã–≤–æ–¥–µ –æ–Ω–∏ –≤—Å–µ –Ω–µ –ø–æ–º–µ—â–∞—é—Ç—Å—è –≤ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–π –≤—ã–≤–æ–¥ —á–µ—Ä–µ–∑ `df.info()`. –¢–æ–≥–¥–∞ –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –∞—Ç—Ä–∏–±—É—Ç–æ–º –¥–ª—è –ø—Ä–æ—Å–º–æ—Ç—Ä–∞ –∏–Ω–¥–µ–∫—Å–æ–≤ –Ω–∞–∑–≤–∞–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤.

In [22]:
rides_info.columns

Index(['user_id', 'car_id', 'ride_id', 'ride_date', 'rating', 'ride_duration',
       'ride_cost', 'speed_avg', 'speed_max', 'stop_times', 'distance',
       'refueling', 'user_ride_quality', 'deviation_normal'],
      dtype='object')

–ì–æ—Ä–∞–∑–¥–æ –Ω–∞–≥–ª—è–¥–Ω–µ–µ –∏ —É–¥–æ–±–Ω–µ–µ —Ä–∞–±–æ—Ç–∞—Ç—å —Å–æ —Å–ø–∏—Å–∫–æ–º –Ω–∞–∑–≤–∞–Ω–∏–π —Å—Ç–æ–ª–±—Ü–æ–≤

In [23]:
column_names = list(rides_info.columns)
column_names, len(column_names)

(['user_id',
  'car_id',
  'ride_id',
  'ride_date',
  'rating',
  'ride_duration',
  'ride_cost',
  'speed_avg',
  'speed_max',
  'stop_times',
  'distance',
  'refueling',
  'user_ride_quality',
  'deviation_normal'],
 14)

<div class="alert alert-info"><b>–í—ã–≤–æ–¥—ã</b>
<ul><li>14 —Å—Ç–æ–ª–±—Ü–æ–≤</li>
<li>–≤—Å–µ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –≤ –Ω–∏–∂–Ω–µ–º —Ä–µ–≥–∏—Å—Ç—Ä–µ –∏ –Ω–µ —Å–æ–¥–µ—Ä–∂–∞—Ç —Å–ø–µ—Ü—Å–∏–º–≤–æ–ª–æ–≤ (–∑–Ω–∞—á–∏—Ç –∏—Ö –Ω–µ –Ω—É–∂–Ω–æ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞—Ç—å, —á—Ç–æ–±—ã –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ –Ω–∏–º —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É)</li></ul></div>

## –†–∞–±–æ—Ç–∞ —Å —á–∏—Å–ª–æ–≤—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏

<div class="alert alert-info">
<p id="5"></p>

**[df.describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)*** - –í—ã–≤–æ–¥–∏—Ç –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ —á–∏—Å–ª–æ–≤—ã–º —Å—Ç–æ–ª–±—Ü–∞–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –≤–∫–ª—é—á–∞—é—Ç –≤ —Å–µ–±—è
- `count` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
- `mean` - —Å—Ä–µ–¥–Ω–µ–µ –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–æ–µ
- `std` - —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ
- `min`, `max` - –º–∏–Ω–∏–º—É–º –∏ –º–∞–∫—Å–∏–º—É–º
- 25%, 50%, 75% - —Å–æ–æ—Ç–≤–µ—Å—Ç–≤—É—é—â–∏–µ –∫–≤–∞—Ä—Ç–∏–ª–∏  


__!!!B–Ω–∏–º–∞–Ω–∏–µ!!!__ –∏–∑ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫ –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –∏—Å–∫–ª—é—á–∞—é—Ç—Å—è `NaN` –∑–Ω–∞—á–µ–Ω–∏—è, –µ—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å.

–í—ã–≤–µ–¥–µ–º —Ç–∞–∫–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã, –æ–∫—Ä—É–≥–ª–∏–≤ –∑–Ω–∞—á–µ–Ω–∏—è –¥–æ –≤—Ç–æ—Ä–æ–≥–æ –∑–Ω–∞–∫–∞ –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π:

In [24]:
rides_info.describe().round(2)

,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
count,50000.00,50000.00,50000.00,50000.00,49747.00,50000.00,50000.00,50000.0,49841.00,50000.00
mean,4.49,9304.08,117999.44,47.10,77.48,1.34,444872.13,0.0,-0.19,-1.20
std,2.13,35947.59,504330.21,12.65,24.28,2.35,1782500.58,0.0,11.79,19.40
min,0.00,2.00,9.00,25.00,30.00,0.00,3.04,0.0,-59.52,-110.76
25%,3.14,27.00,297.00,38.00,62.00,0.00,784.16,0.0,-6.94,-9.01
50%,4.49,44.00,506.00,46.00,72.00,1.00,1456.72,0.0,0.16,0.00
75%,5.86,69.00,895.00,52.00,86.00,2.00,2265.27,0.0,6.69,6.98
max,10.00,222356.00,10889545.00,100.00,202.46,21.00,18333880.69,1.0,56.53,99.92

<div class="alert alert-info">
    <b>–í—ã–≤–æ–¥—ã</b>
    
- –æ–ø–∏—Å–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ (`speed_avg` - —Å—Ä–µ–¥–Ω—è—è —Å–∫–æ—Ä–æ—Å—Ç—å –ø–æ –º–∞—Ä—à—Ä—É—Ç—É —Ç–∞–∫—Å–∏, `rating` - —Ä–µ–π—Ç–∏–Ω–≥, –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –≤–æ–¥–∏—Ç–µ–ª–µ–º –∑–∞ –ø–æ–µ–∑–¥–∫—É, `ride_duration` - –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏, `ride_cost` - —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏, `stop_times` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å—Ç–∞–Ω–æ–≤–æ–∫)
- —Å—Ä–µ–¥–Ω—è—è —Å–∫–æ—Ä–æ—Å—Ç—å –¥–≤–∏–∂–µ–Ω–∏—è –ø–æ –º–∞—Ä—à—Ä—É—Ç—É –ø–æ –≤—Å–µ–º –ø–æ–µ–∑–¥–∫–∞–º –æ–∫–æ–ª–æ `47`, –∞ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–∞—è —Å—Ä–µ–¥–Ω—è—è —Å–∫–æ—Ä–æ—Å—Ç—å `100`. –í–µ—Ä–æ—è—Ç–Ω–æ, —ç—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü –∏–º–µ–µ—Ç —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –∫–º/—á–∞—Å
- –∫–∞–∫ –º–∏–Ω–∏–º—É–º –≤ –ø–æ–ª–æ–≤–∏–Ω–µ —Å–ª—É—á–∞–µ–≤ –≤–æ –≤—Ä–µ–º—è –ø–æ–µ–∑–¥–∫–∏ –±—ã–ª–∞ –æ–¥–Ω–∞ –æ—Å—Ç–∞–Ω–æ–≤–∫–∞
- –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Ä–µ–π—Ç–∏–Ω–≥ –æ–∫–æ–ª–æ `10`, –º–∏–Ω–∏–º—É–º `0`. –ë–æ–ª–µ–µ –ø–æ–ª–æ–≤–∏–Ω—ã –≤—Å–µ—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ `–æ—Ç 3 –¥–æ 5`. –í–µ—Ä–æ—è—Ç–Ω–æ, —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å —ç—Ç–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ - –±–∞–ª–ª—ã
- —Å–¥–µ–ª–∞—Ç—å –æ–¥–Ω–æ–∑–Ω–∞—á–Ω—ã–µ –≤—ã–≤–æ–¥—ã –æ —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—è—Ö –ø—Ä–æ–¥–æ–ª–∂–∏—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∏ —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –ø–æ–µ–∑–¥–æ–∫ –Ω–µ–ª—å–∑—è, –≤–µ—Ä–æ—è—Ç–Ω–æ, –æ–Ω–∏ –±—ã–ª–∏ –º–æ–¥–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω—ã –∏ –¥–ª—è —ç—Ç–æ–≥–æ —Ç—Ä–µ–±—É–µ—Ç—Å—è –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö
</div>

`describe()` —Ç–∞–∫–∂–µ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏ –¥–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, –¥–æ–±–∞–≤–∏–≤ –ø–∞—Ä–∞–º–µ—Ç—Ä `include='object'`

In [25]:
rides_info.describe(include='object')

           user_id      car_id ride_id   ride_date
count        50000       50000   50000       50000
unique       13975        4250    2704          92
top     Z20970325i  a11867112k     H1v  2020-01-16
freq            18          25      34         604

**[df.value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)** - —Ñ—É–Ω–∫—Ü–∏—è –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∏ —á–∏—Å–ª–∞ –∏—Ö –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ –≤ –≤–∏–¥–µ `Series`. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω –ø–æ —É–±—ã–≤–∞–Ω–∏—é –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏ (`ascending=False`). –ú–æ–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫—É —á–µ—Ä–µ–∑ `ascending=True`. –¢–∞–∫–∂–µ —á–∏—Å–ª–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã –º–æ–∂–Ω–æ —Ä–∞–∑–±–∏–≤–∞—Ç—å –Ω–∞ –±–∏–Ω—ã —á–µ—Ä–µ–∑ –ø–∞—Ä–∞–º–µ—Ç—Ä `bins`.

In [26]:
rides_info.ride_id.value_counts()[:5]

ride_id
H1v    34
E1y    34
K1F    33
H1z    33
P1Q    33
Name: count, dtype: int64

–í—ã–≤–æ–¥: —Å–∞–º—ã–π —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞—é—â–∏–π—Å—è –∫–æ–¥ –º–∞—Ä—à—Ä—É—Ç–∞ `H1v` –∏ `E1y`, –∏–º–µ—é—Ç –ø–æ 34 –ø–æ–µ–∑–¥–∫–∏

–ü–æ—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è–µ—Ç—Å—è –∫–æ–ª-–≤–æ –ø–æ–µ–∑–¥–æ–∫ –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É –ø–æ–µ–∑–¥–æ–∫ —Ä–∞–∑–±–∏–≤–∞—è –µ–≥–æ –Ω–∞ –±–∏–Ω—ã:

In [27]:
rides_info.rating.value_counts(bins=4)

rating
(2.5, 5.0]       21730
(5.0, 7.5]       15101
(-0.011, 2.5]     8761
(7.5, 10.0]       4408
Name: count, dtype: int64

–í—ã–≤–æ–¥: 26% (8761+4408 –¥–µ–ª–∏—Ç—å –Ω–∞ 50000) –ø–æ–µ–∑–¥–æ–∫ —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º –Ω–∏–∂–µ 2.5 –∏ –≤—ã—à–µ 7.5

**[.duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)** - –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∑–≤–æ–ª–∏—Ç –Ω–∞–º –≤—ã—è–≤–∏—Ç—å –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏–µ –≤ –¥–∞–Ω–Ω—ã—Ö. –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç –±—É–ª–µ–≤—ã –∑–Ω–∞—á–µ–Ω–∏—è, –æ–±–æ–∑–Ω–∞—á–∞—é—â–∏–µ –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è —Å—Ç—Ä–æ–∫–∏. –ü—Ä–∏ —ç—Ç–æ–º –º–æ–∂–Ω–æ –Ω–µ —É—á–∏—Ç—ã–≤–∞—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã.

In [28]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

–¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–º —Å—Ç–æ–ª–±—Ü–µ/—Å—Ç–æ–ª–±—Ü–∞—Ö.

In [29]:
df.duplicated(subset=['brand'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

# <center> üì§ –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ </center>

<p id="6">–ü–µ—Ä–µ–π–¥–µ–º –∫ —Å–∞–º–æ–º—É –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ–º—É - –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö, –ø–æ–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å –º–µ—Ç–æ–¥–∞–º–∏ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∏, —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∏ —Ä–∞–∑–Ω—ã–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏.</p>

<img src="https://sun9-41.userapi.com/impg/io095r0KS1Fq4NTHYReNuRTf6DBM1pihDZMPqQ/Xki0IFcFAK8.jpg?size=2536x1150&quality=96&sign=db8f9c09f39dd1417032d06830270d44&type=album"></img>

## –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ `DataFrame`

<div class="alert alert-info">
<p id="7">
    
`DataFrame` –º–æ–∂–Ω–æ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å. –ü–æ—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫ —ç—Ç–æ –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å.</p>

In [30]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
         'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
         'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

__–ü–æ –∑–Ω–∞—á–µ–Ω–∏—è–º__

In [31]:
df.sort_values(by='age')

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

__–ü–æ –∏–Ω–¥–µ–∫—Å—É__

In [32]:
df.sort_index(axis=1, ascending=False)

   visits priority animal  age
a       1      yes    cat  2.5
b       3      yes    cat  3.0
c       2       no  snake  0.5
d       3      yes    dog  NaN
e       2       no    dog  5.0
f       3       no    cat  2.0
g       1       no  snake  4.5
h       1      yes    cat  NaN
i       2       no    dog  7.0
j       1       no    dog  3.0

<div class="alert alert-info">
    
–ü–∞—Ä–∞–º–µ—Ç—Ä `ascending=True` –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ —Å–æ—Ä—Ç–∏—Ä—É–µ—Ç—Å—è –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é. –ï—Å–ª–∏ –Ω—É–∂–Ω–æ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º, —Ç–æ –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è —Å–ø–∏—Å–æ–∫ —Å—Ç–æ–ª–±–æ–≤ –∏ —Å–ø–∏—Å–æ–∫ –±—É–ª–µ–≤—ã—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö –≤ `ascending`. –ü–∞—Ä–∞–º–µ—Ç—Ä `inplace=False` –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é.

## –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

<p id="8">–õ–æ–≥–∏—á–µ—Å–∫–∏–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –ø–æ–¥—Ç–∞–±–ª–∏—Ü—ã —Å –∑–∞–¥–∞–Ω–Ω—ã–º–∏ —É—Å–ª–æ–≤–∏—è–º–∏ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º.</p>

–†–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø—Ä–∏–º–µ—Ä—ã.

In [33]:
df.loc[df.visits > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

–ï—Å–ª–∏ —É—Å–ª–æ–≤–∏–π –±–æ–ª—å—à–µ –æ–¥–Ω–æ–≥–æ, —Ç–æ —É—Å–ª–æ–≤–∏—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∑–∞–ø–∏—Å—ã–≤–∞—é—Ç—Å—è –≤ –∫—Ä—É–≥–ª—ã—Ö —Å–∫–æ–±–∫–∞—Ö!

- __'–ò'__ –æ–±–æ–∑–Ω–∞—á–∞–µ—Ç—Å—è –∫–∞–∫ __&__
- __'–ò–õ–ò'__  –æ–±–æ–∑–Ω–∞—á–∞–µ—Ç—Å—è –∫–∞–∫ __|__

In [34]:
df.loc[(df.visits > 2) & (df.priority == 'yes')]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes

In [35]:
df.loc[(df.visits > 2) | (df.age > 5)]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
i    dog  7.0       2       no

–ß—Ç–æ–±—ã –Ω–∞–º –≤—ã–≤–µ—Å—Ç–∏ —á–∞—Å—Ç—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å –¥–µ—à–µ–≤—ã–º–∏ —Ü–µ–Ω–∞–º–∏ (—Ü–µ–Ω—ã –ø–æ–µ–∑–¥–∫–∏ –Ω–∏–∂–µ 500), –ø–æ–ø—Ä–æ–±—É–µ–º –ø—Ä–æ—Å—Ç–æ –∑–∞–ø–∏—Å–∞—Ç—å —ç—Ç–æ —É—Å–ª–æ–≤–∏–µ –∏ –≤—ã–≤–µ—Å—Ç–∏ —á–∞—Å—Ç—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —ç—Ç–æ–º—É —É—Å–ª–æ–≤–∏—é

In [36]:
rule_cheap = rides_info.ride_cost < 500
rides_info[rule_cheap].head().round(2)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.30,0,2412.86,0,-3.83,-12.58
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.00,2,207.99,0,-6.90,0.00
6,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.03,0,1854.43,0,-21.87,-20.00
11,N20390973B,T12315854s,g1g,2020-03-18,8.59,27,372,48,66.00,1,1061.04,0,-9.69,-18.86
12,x37836441s,o-5998359x,W1M,2020-01-05,7.88,14,177,38,46.00,2,470.41,0,7.31,2.39

### –ë—É–ª–µ–≤–∞ –º–∞—Å–∫–∞

–¢–∞–∫–∂–µ –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –ø—Ä–æ—Å—Ç—ã—Ö —Å–ø–æ—Å–æ–±–æ–≤ –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –Ω—É–∂–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏ - —ç—Ç–æ –¥–æ–±–∞–≤–∏—Ç—å –±—É–ª–µ–≤—É—é –º–∞—Å–∫—É. –ü—É—Å—Ç—å –º–∞—Å–∫–∞ —Å—Ç—Ä–æ–∏—Ç—Å—è –ø–æ —É—Å–ª–æ–≤–∏—é, —á—Ç–æ —Å—Ç–æ–∏–º–æ—Å—Ç—å –ø–æ–µ–∑–¥–∫–∏ –±–æ–ª—å—à–µ –Ω–µ–∫–æ—Ç–æ—Ä–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è.

- –°–æ–∑–¥–∞–µ–º –±—É–ª–µ–≤—É –º–∞—Å–∫—É  `[True, False, True, ...]`
- –í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ 5 –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç—Ä–æ–∫, –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –ø–æ–¥ —É—Å–ª–æ–≤–∏–µ

In [37]:
rule_cheap = rides_info['ride_cost'] < 426  
rides_info[rule_cheap].head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2412.859858,0,-3.828166,-12.577
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,207.993094,0,-6.904072,0.000
11,N20390973B,T12315854s,g1g,2020-03-18,8.59,27,372,48,66.000000,1,1061.035898,0,-9.692375,-18.856
12,x37836441s,o-5998359x,W1M,2020-01-05,7.88,14,177,38,46.000000,2,470.414162,0,7.314068,2.389
16,v23018580U,J-9977061N,e1v,2020-02-18,5.01,30,415,35,80.000000,0,1045.715427,0,-5.538496,18.364

–ï—Å–ª–∏ –º—ã —Ö–æ—Ç–∏–º –¥–æ–±–∞–≤–∏—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `cheap_price` - —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∞ –¥–µ—à–µ–≤–æ–π —Ü–µ–Ω—ã –ø–æ–µ–∑–¥–∫–∏: –µ—Å–ª–∏ —Ü–µ–Ω–∞ –≤ –ø–µ—Ä–≤–æ–º 25% –∫–≤–∞—Ä—Ç–∏–ª–µ (—Ç–æ –µ—Å—Ç—å –º–µ–Ω—å—à–µ 426) —Ç–æ —ç—Ç–æ –±—É–¥–µ—Ç –¥–µ—à–µ–≤–∞—è —Ü–µ–Ω–∞, –ø–æ—Å—Ç–∞–≤–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ `Yes`, –∏–Ω–∞—á–µ `Nan`.

In [38]:
rule_cheap = rides_info.ride_cost < 426
rides_info.loc[rule_cheap, 'cheap_price'] = 'Yes'
rides_info.head().round(2)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.3,0,2412.86,0,-3.83,-12.58,Yes
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.0,0,2553.28,0,-0.17,-5.85,NaN
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.0,2,207.99,0,-6.90,0.00,Yes
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.0,2,1758.48,0,3.13,18.97,NaN
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.0,1,7541414.25,0,-29.25,-8.13,NaN

### –ú–µ—Ç–æ–¥—ã `.filter()` –∏ `.query()`

–í—ã–±–æ—Ä —Å—Ç—Ä–æ–∫ –∏–ª–∏ —Å—Ç–æ–ª–±—Ü–æ–≤

In [39]:
df.filter(items=['a', 'j'], axis=0)

  animal  age  visits priority
a    cat  2.5       1      yes
j    dog  3.0       1       no

<div class="alert alert-info">

__–ü–æ—è—Å–Ω–µ–Ω–∏–µ__

–≠—Ç–æ—Ç –º–µ—Ç–æ–¥ —Ç–∞–∫–∂–µ –∏–º–µ–µ—Ç –ø–∞—Ä–∞–º–µ—Ç—Ä `like`. –û–Ω –æ—Ç–±–∏—Ä–∞–µ—Ç —Å—Ç—Ä–æ–∫–∏ / —Å—Ç–æ–ª–±—Ü—ã, –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –ø–æ–¥—Å—Ç—Ä–æ–∫–∞, –ø—Ä–∏—Å–≤–æ–µ–Ω–Ω–∞—è –µ–º—É. –ü–∞—Ä–∞–º–µ—Ç—Ä—ã `items` –∏ `like` –≤–∑–∞–∏–º–æ–∏—Å–∫–ª—é—á–∞—é—â–∏–µ.

In [40]:
df.filter(like='a', axis=1)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

__–§–∏–ª—å—Ç—Ä–∞—Ü–∏—è__ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–º —Å–ø–æ—Å–æ–±–æ–º

In [41]:
df.query('age > visits')

  animal  age  visits priority
a    cat  2.5       1      yes
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

<div class="alert alert-info">

__–ü–æ—è—Å–Ω–µ–Ω–∏–µ__

–ï—Å–ª–∏ –≤ –∑–∞–ø—Ä–æ—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é, –Ω–∞–ø—Ä–∏–º–µ—Ä, `mean_age` —Ç–æ –ø–µ—Ä–µ–¥ –Ω–µ–π –ø–∏—à–µ–º `@`

`df.query('age > @mean_age')`

–ú–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–ª–æ–∂–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã —Å __'–ò'__ –æ–±–æ–∑–Ω–∞—á–∞–µ—Ç—Å—è –∫–∞–∫ `&`, __'–ò–õ–ò'__  –æ–±–æ–∑–Ω–∞—á–∞–µ—Ç—Å—è –∫–∞–∫ `|`.

`df.query('age > @mean_age | animal == 'cat')`

### –ú–µ—Ç–æ–¥ [`concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–±—ä–µ–¥–∏–Ω—è—Ç—å –æ–±—ä–µ–∫—Ç—ã pandas –≤–¥–æ–ª—å –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –æ—Å–∏.

In [42]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

–¢–∞–∫–∂–µ –µ—Å—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∑–∞–¥–∞–≤–∞—Ç—å –∏–Ω–¥–µ–∫—Å—ã –∏ –ª—ç–π–±–ª—ã.

In [43]:
pd.concat([s1, s2], keys=['s1', 's2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

–ü—Ä–∏–º–µ—Ä —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è `DataFrame`.

In [44]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])

pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

### __–ú–µ—Ç–æ–¥ `isin()`__ - —ç—Ç–æ –æ–¥–∏–Ω –∏–∑ —Å–∞–º—ã—Ö –ø–æ–ª–µ–∑–Ω—ã—Ö —Å–ø–æ—Å–æ–±–æ–≤ —Å–æ–∑–¥–∞—Ç—å –±—É–ª–µ–≤—É—é –º–∞—Å–∫—É –¥–ª—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏

In [45]:
car2stay = ['g55775125g', 'Y-6420899e', 'z77468044J']
mask = rides_info['car_id'].isin(car2stay)

In [46]:
rides_info[mask].head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577,Yes
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850,NaN
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000,Yes
5564,Y10710002e,Y-6420899e,K1s,2020-02-28,1.70,135,1884,64,66.336795,0,3.233434e+03,0,9.213972,-52.169,NaN
8545,K18258387y,g55775125g,Q1N,2020-02-08,4.49,60889,852440,57,66.920236,0,3.587582e+06,0,-15.355805,0.413,NaN

In [47]:
rides_info[~mask].head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966,NaN
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126,NaN
5,G12536963g,B61056692H,f1p,2020-02-26,5.73,49,681,36,65.000000,1,1.633555e+03,0,5.566720,0.000,NaN
6,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.029522,0,1.854434e+03,0,-21.874094,-19.996,NaN
7,Z21861082q,U-8316679F,s1l,2020-02-22,2.88,23,685,53,58.000000,0,1.290301e+03,0,1.181858,-0.799,NaN

## –†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

<p id="9"></p>

Pandas –¥–ª—è –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –¥–∞–Ω–Ω—ã—Ö –∏—Å–ø–æ–ª—å–∑—É–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ –∏–∑ numpy `np.nan`. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –æ–Ω–æ –Ω–µ –≤–∫–ª—é—á–∞–µ—Ç—Å—è –≤ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è. –ì–¥–µ —Ö—Ä–∞–Ω—è—Ç—Å—è `np.nan`  –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç `df.isna()` –æ–Ω–æ –∂–µ `df.isnull()`

In [48]:
df.isnull()

   animal    age  visits  priority
a   False  False   False     False
b   False  False   False     False
c   False  False   False     False
d   False   True   False     False
e   False  False   False     False
f   False  False   False     False
g   False  False   False     False
h   False   True   False     False
i   False  False   False     False
j   False  False   False     False

–ú–µ—Ç–æ–¥ `dropna()` —É–¥–∞–ª—è–µ—Ç NaN's –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞

In [49]:
df.dropna()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

<div class="alert alert-info">

__–ó–∞–º–µ—á–∞–Ω–∏–µ__

–ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã - —ç—Ç–æ–≥–æ –º–µ—Ç–æ–¥–∞ —Å–ª–µ–¥—É—é—â–∏–µ:

- `axis=0`  (`0` —É–¥–∞–ª—è–µ—Ç —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, `1` —É–¥–∞–ª—è–µ—Ç —Å—Ç–æ–ª–±—Ü—ã)
- `how='any'` (`'any'` –µ—Å–ª–∏ —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ `NA`, —É–¥–∞–ª—è–µ—Ç —ç—Ç—É —Å—Ç—Ä–æ–∫—É –∏–ª–∏ —Å—Ç–æ–ª–±–µ—Ü, `'all'` —Ç–æ–ª—å–∫–æ –µ—Å–ª–∏ –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è `NA`)
- `inplace=False` (`False` –≤—ã–ø–æ–ª–Ω—è–µ—Ç –æ–ø–µ—Ä–∞—Ü–∏—é –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ–ø–∏—é –æ–±—ä–µ–∫—Ç–∞, True –≤—ã–ø–æ–ª–Ω—è–µ—Ç –æ–ø–µ—Ä–∞—Ü–∏—é –Ω–∞ –º–µ—Å—Ç–µ –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç `None`)

–í–∂—É—Ö, –∏ –≤—Å–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏—Å—á–µ–∑–ª–∏! –û–¥–Ω–∞–∫–æ, –Ω–µ –∑–∞–±—ã–≤–∞–π—Ç–µ –ø—Ä–æ –ø–∞—Ä–∞–º–µ—Ç—Ä `inplace=True`, –∏–Ω–∞—á–µ –≤–∞—à–∏ –∏–∑–º–µ–Ω–µ–Ω–∏—è –Ω–µ —Å–æ—Ö—Ä–∞–Ω—è—Ç—Å—è.

–ó–∞–ø–æ–ª–Ω—è–µ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è `df.fillna(n)`, –ø—Ä–∏ `n = 5` –∏–º–µ–µ–º:

In [50]:
df.fillna(5)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  5.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  5.0       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

<div class="alert alert-info">
    
–ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã —ç—Ç–æ–≥–æ –º–µ—Ç–æ–¥–∞ —Å–ª–µ–¥—É—é—â–∏–µ

- `axis=None` (`0` –∑–∞–ø–æ–ª–Ω—è–µ—Ç –ø–æ —Å—Ç—Ä–æ–∫–∞–º, `1` –∑–∞–ø–æ–ª–Ω—è–µ—Ç –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º)

- `inplace=False` (`False` –≤—ã–ø–æ–ª–Ω—è–µ—Ç –æ–ø–µ—Ä–∞—Ü–∏—é –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–æ–ø–∏—é –æ–±—ä–µ–∫—Ç–∞, `True` –≤—ã–ø–æ–ª–Ω—è–µ—Ç –æ–ø–µ—Ä–∞—Ü–∏—é –Ω–∞ –º–µ—Å—Ç–µ –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç `None`)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ

In [51]:
df.isna().sum()

animal      0
age         2
visits      0
priority    0
dtype: int64

`df.fillna()` - –ó–∞–ø–æ–ª–Ω—è–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è `NA/NaN`. –ü–∞—Ä–∞–º–µ—Ç—Ä `inplace=True` –∑–∞–ø–æ–ª–Ω—è–µ—Ç –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –±–µ–∑ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏ –∫–æ–ø–∏—Ä–æ–≤–∞–Ω–∏—è. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é, `inplace=False`.

## –û—Å–Ω–æ–≤—ã –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö

<p id="10"></p>

**[df.loc[]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)** - –û–±–µ—Å–ø–µ—á–∏–≤–∞–µ—Ç –¥–æ—Å—Ç—É–ø –∫ –≥—Ä—É–ø–ø–µ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –ø–æ –º–µ—Ç–∫–∞–º (–∏–Ω–¥–µ–∫—Å–∞–º) –∏–ª–∏ –ª–æ–≥–∏—á–µ—Å–∫–æ–º—É –º–∞—Å—Å–∏–≤—É. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ, –≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç –æ–±—ã—á–Ω—ã—Ö —Å—Ä–µ–∑–æ–≤ `Python`, –≤–∫–ª—é—á–µ–Ω—ã –∫–∞–∫ –Ω–∞—á–∞–ª–æ, —Ç–∞–∫ –∏ –∫–æ–Ω–µ—Ü –∏–Ω–¥–µ–∫—Å–æ–≤. –ß–µ—Ä–µ–∑ —ç—Ç–æ—Ç –º–µ—Ç–æ–¥ –º–æ–∂–Ω–æ –º–µ–Ω—è—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

–¢–∞–∫–∂–µ, –≤—ã–±—Ä–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü –º–æ–∂–Ω–æ –∫–∞–∫ `df.col`, –≥–¥–µ `col` - —ç—Ç–æ –∏–º—è —Å—Ç–æ–ª–±—Ü–∞, –µ—Å–ª–∏ –∏–º—è —Å—Ç–æ–ª–±—Ü–∞ –Ω–∞–ø–∏—Å–∞–Ω–æ –ª–∞—Ç–∏–Ω–∏—Ü–µ–π –∏ –Ω–µ —Å–æ–¥–µ—Ä–∂–∏—Ç –ø—Ä–æ–±–µ–ª–æ–≤. –ù–∞ –ø—Ä–∏–º–µ—Ä–∞—Ö —ç—Ç–æ –±—É–¥–µ—Ç –≤—ã–≥–ª—è–¥–µ—Ç—å —Ç–∞–∫:

In [52]:
df.animal

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [53]:
df.loc['a', ['animal', 'visits']]

animal    cat
visits      1
Name: a, dtype: object

In [54]:
df.iloc[:,0]

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [55]:
df.iloc[[1, 3], [0]]

  animal
b    cat
d    dog

<div class="alert alert-info">

–ù–∞–≥–ª—è–¥–Ω–æ —ç—Ç–æ –≤—ã–≥–ª—è–¥–∏—Ç —Ç–∞–∫

<img src="https://sun9-79.userapi.com/impg/p0NrZ2Owypd4NbKQV4--0kZYi4PfNqk3E31URQ/7NTTharc5XA.jpg?size=301x129&quality=96&sign=36a4edc1d86f1b6618a80545f36cf4ef&type=album"></img>

__–†–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É `iloc` –∏ `loc` –ø—Ä–æ—Å—Ç–∞—è!__   `.loc`- –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å—Ç—Ä–æ–∫—É –ø–æ –Ω–æ–º–µ—Ä—É, `.iloc` –ø–æ –∏–Ω–¥–µ–∫—Å—É. <br>
**–í–∞–∂–Ω–æ:** –ï—â—ë –æ–¥–Ω–æ —Ä–∞–∑–ª–∏—á–∏–µ —Å–æ—Å—Ç–æ–∏—Ç –≤ —Ç–æ–º, —á—Ç–æ –ø—Ä–∏ –Ω–∞–ª–∏—á–∏–∏ —á–∏—Å–ª–æ–≤–æ–≥–æ –∏–Ω–¥–µ–∫—Å–∞ `.iloc()` –Ω–µ –±—É–¥–µ—Ç –≤–∫–ª—é—á–∞—Ç—å –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É –≤ —Å—Ä–µ–∑, –∞ `.loc()` –±—É–¥–µ—Ç.

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ:

In [56]:
# –°—Ç—Ä–æ–∫–∞ —Å –∏–Ω–¥–µ–∫—Å–æ–º 3 –∏ –∫–æ–ª–æ–Ω–∫–∞ 2 –Ω–µ –≤–∫–ª—é—á–µ–Ω—ã –≤ —Å—Ä–µ–∑
df.iloc[1:3, 0:2]

  animal  age
b    cat  3.0
c  snake  0.5

In [57]:
# –ê –∑–¥–µ—Å—å –ø—Ä–∞–≤—ã–µ –≥—Ä–∞–Ω–∏—Ü—ã –≤–∫–ª—é—á–µ–Ω—ã –≤ —Å—Ä–µ–∑
df.reset_index().loc[1:3, 'animal':'visits']

  animal  age  visits
1    cat  3.0       3
2  snake  0.5       2
3    dog  NaN       3

### –§–æ–∫—É—Å—ã —Å –∏–Ω–¥–µ–∫—Å–∞–º–∏

–°–±—Ä–∞—Å—ã–≤–∞–µ—Ç –∏–Ω–¥–µ–∫—Å `df.reset_index()`, –ø—Ä–∏—á–µ–º –ø—Ä–µ–¥—ã–¥—É—â–∏–π –∏–Ω–¥–µ–∫—Å –Ω–µ —É–¥–∞–ª—è–µ—Ç—Å—è, –∞ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç—Å—è –≤ –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–µ. <br>

In [58]:
df.reset_index()

  index animal  age  visits priority
0     a    cat  2.5       1      yes
1     b    cat  3.0       3      yes
2     c  snake  0.5       2       no
3     d    dog  NaN       3      yes
4     e    dog  5.0       2       no
5     f    cat  2.0       3       no
6     g  snake  4.5       1       no
7     h    cat  NaN       1      yes
8     i    dog  7.0       2       no
9     j    dog  3.0       1       no

–ß—Ç–æ–±—ã —É–¥–∞–ª–∏—Ç—å –ø—Ä–µ–¥—ã–¥—É—â–∏–π –∏–Ω–¥–µ–∫—Å –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –Ω—É–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä—ã `drop=True, inplace=True`.

In [59]:
df2 = df.reset_index(drop=True)
df2.head()

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no

–£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ—Ç –∏–Ω–¥–µ–∫—Å `df.set_index()`. –°–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ, –±–µ—Ä–µ—Ç —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–π —Å—Ç–æ–ª–±–µ—Ü –∏ –ø–µ—Ä–µ–≤–æ–¥–∏—Ç –µ–≥–æ –≤ –∏–Ω–¥–µ–∫—Å.

–ó–∞–º–µ–Ω—è–µ—Ç –∏–Ω–¥–µ–∫—Å `df.reindex()`

In [60]:
df.reindex(['j', 'i', 'h', 0, 1, 2], axis=0, fill_value=5)

  animal  age  visits priority
j    dog  3.0       1       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
0      5  5.0       5        5
1      5  5.0       5        5
2      5  5.0       5        5

<p id="11"></p>

## –§—É–Ω–∫—Ü–∏–∏
–ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∫ –¥–∞–Ω–Ω—ã–º –ø–æ —Å—Ç—Ä–æ–∫–∞–º/—Å—Ç–æ–ª–±—Ü–∞–º —Ä–µ–∞–ª–∏–∑—É–µ—Ç—Å—è –∫–∞–∫ `df.apply(func, axis=0)`

<img src="https://sun9-70.userapi.com/impg/SfdR2m0D2E02P1xeDa8XJTr2DopfykEufD7Kcw/rQkknfzl800.jpg?size=216x398&quality=96&sign=b395742fb9db51dbeb0e124d17f82901&type=album"></img>

–í –ø—Ä–∏–º–µ—Ä–µ –º–µ—Ç–æ–¥—É `apply()` –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏—è, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø—Ä–∏–º–µ–Ω—è—Ç—å—Å—è –∫ –¥–∞–Ω–Ω—ã–º. –°—Ç–æ–∏—Ç –∑–∞–º–µ—Ç–∏—Ç—å, —á—Ç–æ –∑–Ω–∞—á–µ–Ω–∏—è —Ç–∏–ø–∞ `str` —Ç–æ–∂–µ —Å—É–º–º–∏—Ä—É—é—Ç—Å—è.

In [61]:
df.apply(np.sum, axis=0)

animal      catcatsnakedogdogcatsnakecatdogdog
age                                       27.5
visits                                      19
priority              yesyesnoyesnononoyesnono
dtype: object

–ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∫ –¥–∞–Ω–Ω—ã–º –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω–æ —Ä–µ–∞–ª–∏–∑—É–µ—Ç—Å—è –∫–∞–∫ `df.applymap(lambda x: func)`

–í –ø—Ä–∏–º–µ—Ä–µ –º–µ—Ç–æ–¥—É `applymap()`  –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è `lambda`-—Ñ—É–Ω–∫—Ü–∏—è, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø—Ä–∏–º–µ–Ω—è—Ç—å—Å—è –∫ —ç–ª–µ–º–µ–Ω—Ç—É.

In [62]:
df.applymap(lambda x: len(str(x)))

   animal  age  visits  priority
a       3    3       1         3
b       3    3       1         3
c       5    3       1         2
d       3    3       1         3
e       3    3       1         2
f       3    3       1         2
g       5    3       1         2
h       3    3       1         3
i       3    3       1         2
j       3    3       1         2

<div class="alert alert-info">

–¢–∞–∫–∂–µ —Ñ—É–Ω–∫—Ü–∏—é `apply()` –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –Ω–æ–≤—ã—Ö –∫–æ–ª–æ–Ω–æ–∫ –Ω–∞ –æ—Å–Ω–æ–≤–µ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–µ–π –∏–ª–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –≤—Å–µ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞. <br>
–ü—Ä–∏ —ç—Ç–æ–º –µ—Å—Ç—å —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–∞—è —Ä–∞–∑–Ω–∏—Ü–∞ –ø—Ä–∏ –æ–±—Ä–∞—â–µ–Ω–∏–∏ –∫ –æ–¥–Ω–æ–π –∫–æ–ª–æ–Ω–∫–µ –∏–ª–∏ –∫–æ –≤—Å–µ–º—É –¥–∞—Ç–∞—Å–µ—Ç—É.<br>
–†–∞–∑–±–µ—Ä—ë–º –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ:

In [63]:
df.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

In [64]:
# –°–æ–∑–¥–∞–¥–∏–º –±–∏–Ω–∞—Ä–Ω—É—é –∫–æ–ª–æ–Ω–∫—É 'more_2', –µ—Å–ª–∏ –±—ã–ª–æ –±–æ–ª—å—à–µ 2-—Ö –≤–∏–∑–∏—Ç–æ–≤ –Ω–∞ –æ—Å–Ω–æ–≤–µ –∫–æ–ª–æ–Ω–∫–∏ 'visits'
df['more_2'] = df['visits'].apply(lambda x: 1 if x > 2 else 0)
df.head()

  animal  age  visits priority  more_2
a    cat  2.5       1      yes       0
b    cat  3.0       3      yes       1
c  snake  0.5       2       no       0
d    dog  NaN       3      yes       1
e    dog  5.0       2       no       0

In [65]:
# –¢–µ–ø–µ—Ä—å —Å–æ–∑–¥–∞–¥–∏–º —Ç–∞–∫—É—é –∂–µ –∫–æ–ª–æ–Ω–∫—É —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º 'more_2v2' –Ω–∞ –æ—Å–Ω–æ–≤–µ –≤—Å–µ–≥–æ df
df['more_2v2'] = df.apply(lambda x: 1 if x.visits > 2 else 0, axis=1)
df.head()

  animal  age  visits priority  more_2  more_2v2
a    cat  2.5       1      yes       0         0
b    cat  3.0       3      yes       1         1
c  snake  0.5       2       no       0         0
d    dog  NaN       3      yes       1         1
e    dog  5.0       2       no       0         0

–û—Ç–º–µ—Ç–∏–º, —á—Ç–æ –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ `apply()` –∫ –¥–∞—Ç–∞—Å–µ—Ç—É - –Ω–∞–¥–æ —É–∫–∞–∑—ã–≤–∞—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä `axis`.

### –í—Å—Ç—Ä–æ–µ–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏

–ó–¥–µ—Å—å –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω—ã –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª–µ–∑–Ω—ã–µ –º–µ—Ç–æ–¥—ã, –ø—Ä–∏–º–µ–Ω–∏–º—ã–µ –∫ `Series`

<img src="https://sun9-17.userapi.com/impg/QIvfQYVUFnOii25XfA6yL9HSsnVaMSI71Ccqow/BROCketQrDw.jpg?size=1302x1068&quality=96&sign=ffe48fa08279d37d7e023cce818f888c&type=album" width=700></img>

–ù–∞–ø—Ä–∏–º–µ—Ä, –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∂–∏–≤–æ—Ç–Ω—ã—Ö:

In [66]:
df.animal.nunique()

3

<div class="alert alert-info">
    
<b> –ó–∞–∫–ª—é—á–µ–Ω–∏–µ: </b>
–í —ç—Ç–æ–º —É—Ä–æ–∫–µ –º—ã –ø–æ–∑–Ω–∞–∫–æ–º–∏–ª–∏—Å—å —Å –æ—Å–Ω–æ–≤–Ω—ã–º–∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—è–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ `Pandas`, –¥–ª—è –∑–∞–∫—Ä–µ–ø–ª–µ–Ω–∏—è –º–∞—Ç–µ—Ä–∏–∞–ª–∞ —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ–º –ø—Ä–æ—Ä–µ—à–∞—Ç—å –∑–∞–¥–∞—á–∏ –≤ —Å—Ç–µ–ø–∞—Ö.<br>
–° –±–æ–ª–µ–µ –ø—Ä–æ–¥–≤–∏–Ω—É—Ç—ã–º–∏ —Ñ—É–Ω–∫—Ü–∏—è–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ–º –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏—Ö –∑–∞–¥–∞—á –±—É–¥–µ–º —Ä–∞–∑–±–∏—Ä–∞—Ç—å—Å—è –≤ —Å–ª–µ–¥—É—é—â–∏—Ö —É—Ä–æ–∫–∞—Ö.